$color-white:#fff;
$color-black:#000;
$color-gray:#999;
$color-black_gray:#555;
$color-white_gray:#ccc;
$color-green:#539e22;
$color-background-foot:#111;
$color-yeelow:#FFBE01;
$color-white-eee:#eee;
$color-btn-foot:#f7b731;
$color-bottom-footer:#171717;
$color-btn-header:#0a68b1;
$color-red:#f44027;
$color-blue-why:#1377c5;
$bgcolor-yellow-after:rgba(255,190,1,0.5);
$bgcolor-yellow-before:#ffbe01;
$bgcolor-green-after:rgba(72,161,29,0.5);
$bgcolor-green-before:#48a11d;


$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;