@import "./src/assets/dis/var";
.tab-box{
    display: inline-block;
        border-top: 1px solid $color-red;
        background-color: $color-white-eee;
        padding: 40px 25px;
        p{
            font-size: 13.5px;
            color: $color-gray;
            line-height: 24px;
            margin-bottom: 16px;
        }
        p:last-child{
            margin-bottom: 0px;
        }
    }