<header class="header-main">
  <div class="top-header">
      <div class="container">
          <div class="row-top grid">
              <div>
                  <p class="mailto">Leave A Message: <a href="mailto:info@petcare.com">info@petcare.com</a></p>
              </div>
              <div class="social pull-right">
                      <a href="#"><img src="/assets/images/icon/tw-ic.png" alt="Twitter" /></a>
                      <a href="#"><img src="/assets/images/icon/fb-ic.png" alt="Facebook" /></a>
                      <a href="#"><img src="/assets/images/icon/g+-ic.png" alt="Google pulse" /></a>			
              </div>

          </div>
      </div>

  </div>
  <div class="middle-header">
      <div class="container">
          <div class="row-middle grid">
              <div class="logo">
                  <a href="#">
                      <img src="/assets/images/logo.png" alt="Logo" />
                  </a>
              </div>
              <div class="inform">
                  <div class="location">
                      <img src="assets/images/icon/location-ic.png" alt="Location" />
                      <div class="span-text"><span>Our Location</span>
                          <span>50- Design Street, Texas</span>
                      </div>
                  
                  </div>
                  <div class="time">
                      <img src="assets/images/icon/time-ic.png" alt="time" />
                      <div class="span-text"><span>Mon - Sat</span><span> 8 am - 10 pm</span></div>

                  </div>
                  <div class="phone">
                      <img src="assets/images/icon/phone-ic.png" alt="phone" />
                      <div class="span-text"><span>Call Us</span><span> +1 (0) 234 56 789</span></div>
              
                  </div>
              </div>
          </div>
      </div>
  </div>
  <nav class="navbar">
      <div class="container">
          <div class="rov">
              <div class="navbar-header">
                      <ul class="nav navbar-nav grid">
                          <li class="active"><a href="index.html">Home</a></li>
                          <li><a href="#" onclick="first()">About Us</a></li>
                          <li><a href="#" onclick="two()">Contact US</a></li>
                          <li><a href="#">Get An Appointment</a></li>
                      </ul>			
              </div>			                        
          </div>
       </div>
  </nav>
</header>