<footer class="footer-main">
  <!-- Container -->
  <div class="container">
      <div class="row-foot grid">
          <div class="col about-us">
              <aside class="widget widget-about">
                  <h3 class="widget-title">about Us</h3>
                  <p>Hello we are Comre. We are here to provide you the best offers through our coupons. Hello we are company.</p>
                  <ul>
                      <li><img src="/assets/images/icon/ftr-location.png" alt="Address">Washington Square Park, <span>NY, United States</span></li>
                      <li><img src="/assets/images/icon/ftr-customer.png" alt="Phone"> Customer Support : <span>+ 124 45 76 678</span></li>
                      <li><img src="/assets/images/icon/ftr-email.png" alt="Mail"><span>Email :</span><a href="mailto:mail@woodsman.com"> mail@woodsman.com</a></li>
                  </ul>
              </aside>
          </div>
          <div class="col">
              <aside class="widget widget-links">
                  <h3 class="widget-title">Working Time</h3>
                  <ul>
                      <li>Monday <span>08:00 am  -  10:00 pm</span></li>
                      <li>tuesday <span>08:00 am  -  10:00 pm</span></li>
                      <li>wednesday <span>08:00 am  -  10:00 pm</span></li>
                      <li>thursday <span>08:00 am  -  10:00 pm</span></li>
                      <li>friday <span>08:00 am  -  10:00 pm</span></li>
                      <li>Week End <span>CloSed</span></li>
                      <li>Emergency Unit <span>Open Any Time</span></li>						
                  </ul>
              </aside>
          </div>	
          <div class="col">
              <aside class="widget widget-subscribe">
                  <div class="subscribe-box">
                      <h4>Subscribe To Mail!</h4>
                      <p>Get our Daily email n.ewsletter with Special Services, Updates, Offers and more</p>
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Email Address">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button">SignUp</button>
                          </span>
                      </div><!-- /input-group -->
                  </div>
                  <ul>
                      <li><a href="#"><img src="/assets/images/icon/ftr-fb.png" alt="ftr"></a></li>
                      <li><a href="#"><img src="/assets/images/icon/ftr-g+.png" alt="ftr"></a></li>
                      <li><a href="#"><img src="/assets/images/icon/ftr-tumbler.png" alt="ftr"></a></li>
                      <li><a href="#"><img src="/assets/images/icon/ftr-dribbble.png" alt="ftr"></a></li>
                      <li><a href="#"><img src="/assets/images/icon/ftr-ln.png" alt="ftr"></a></li>
                      <li><a href="#"><img src="/assets/images/icon/ftr-tw.png" alt="ftr"></a></li>
                  </ul>
              </aside>
          </div>
      </div>
  </div><!-- Container /- -->
  <div class="bottom-footer container-fluid no-padding">		
      <div class="container">
          <div class="row">
              <ul class="col-md-5 pull-left">
                  <li><a href="#">Faq</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Client Support</a></li>
              </ul>
              
              <div class="col-md-7 pull-right">
                  <p class="copyright">copyrights © 2015 Mice Cab. All rights reserved</p>
              </div>
          </div>
      </div>
  </div>
</footer>