<div class="why-choose-us">
  <!-- Container -->
  <div class="container">
      <!-- Section Header -->
      <div class="section-header">
          <h3>Why Choose Us</h3>
          <p>They will have to make the best of things its an uphill climb</p>
      </div><!-- Section Header /- -->
      <div class="row-why grid">
          <div class="why-row-why">
              <div class="why-choose-content">
                  <div class="why-choose-hover">
                      <i><img src="/assets/images/icon/medal.png" alt="medal"></i>
                      <h3>Best In The Industry</h3>
                      <p>Rogers are blown out of their into an orbit which freezes his life which freezes his life</p>							
                      <a href="#">Read more</a>
                  </div>
                  
              </div>
          </div>
          <div class="why-row-why">
              <div class="why-choose-content">
                  <div class="why-choose-hover">
                      <i><img src="/assets/images/icon/customer-support.png" alt="Customer Support"></i>
                      <h3>Customer Support</h3>
                      <p>Come and listen to a story about Jed a poor mountaineer barely kept his family fed buck rogers to</p>							
                      <a href="#">Read more</a>
                  </div>
                  
              </div>
          </div>
          <div class="why-row-why">
              <div class="why-choose-content">
                  <div class="why-choose-hover">
                      <i><img src="/assets/images/icon/home.png" alt="home"></i>
                      <h3>Special Care On Pets</h3>
                      <p>The mate was a mighty sailin' man the two skipper brave and sure. Five </p>							
                      <a href="#">Read more</a>
                  </div>
              </div>
          </div>
          <div class="why-row-why">
              <div class="why-choose-content">
                  <div class="why-choose-hover">
                      <i><img src="/assets/images/icon/dogfeek.png" alt="dogfeek"></i>
                      <h3>Best Quality Products</h3>
                      <p>Mister we could use a man like Herbert Hoover again. They're creepy and they're kooky mysterious and spooky. They're all togethe</p>							
                      <a href="#">Read more</a>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- Container /- -->
</div>