<div class="what-we-do container-fluid no-padding animated slideInDown">

    <!-- Section Header -->
    <div class="section-header">
      <h3>What We Do</h3>
      <p>They will have to make the best of things its an uphill climb</p>
    </div><!-- Section Header -->
    <!-- Container -->
    <div class="container grid">
      <div class="grid-div">	
        <div class="what-we-do-content">
          <img src="/assets/images/what-we-do/dog.jpg" alt="dog">
          <h3>Pet Grooming</h3>
          <p>The Big Oxmox advised her not to do so, because there were thousands.</p>
        </div>
      </div>
      <div class="grid-div">	
        <div class="what-we-do-content">
          <img src="/assets/images/what-we-do/cat.jpg" alt="dog">
          <h3>Regular Health Checkup</h3>
          <p>The Big Oxmox advised her not to do so, because there were thousands.</p>
        </div>
      </div>
      <div class="grid-div">	
        <div class="what-we-do-content">
          <img src="/assets/images/what-we-do/nutrition.jpg" alt="nutrition">
          <h3>Best Nutrition</h3>
          <p>The Big Oxmox advised her not to do so, because there were thousands.</p>
        </div>
      </div>
      <div class="grid-div">	
        <div class="what-we-do-content">
          <img src="/assets/images/what-we-do/medical.jpg" alt="medical">
          <h3>Medical Support</h3>
          <p>The Big Oxmox advised her not to do so, because there were thousands.</p>
        </div>
      </div>
      <div class="grid-div">	
        <div class="what-we-do-content">
          <img src="/assets/images/what-we-do/bucket.jpg" alt="bucket">
          <h3>Quality Products Selling</h3>
          <p>The Big Oxmox advised her not to do so, because there were thousands.</p>
        </div>
      </div>
      <div class="grid-div">	
        <div class="what-we-do-content">
          <img src="/assets/images/what-we-do/bag.jpg" alt="bag">
          <h3>Anytime Emergency Unit</h3>
          <p>The Big Oxmox advised her not to do so, because there were thousands.</p>
        </div>
      </div>
    </div><!-- Container /- -->
 
  </div>