<div class="appointment">
  <div class="container">
      <div class="">
          <form class="appointment-form grid">
              <!-- Section Header -->
              <div class="section-header">
                  <h3>Get An Appointment</h3>
                  <p>They will have to make the best of things its an uphill climb</p>
              </div><!-- Section Header /- -->
              <div class="">
                  <input type="text" class="form-control" placeholder="First Name" required="">
              </div>
              <div class="">
                  <input type="text" class="form-control" placeholder="Last Name" required="">
              </div>
              <div class="">
                  <input type="text" class="form-control" placeholder="Email" required="">
              </div>
              <div class="">
                  <input type="text" class="form-control" placeholder="Phone Number" required="">
              </div>
              <div class="form-group">
                  <select>
                      <option>Pet Category</option>
                      <option>Pet Category</option>
                      <option>Pet Category</option>
                      <option>Pet Category</option>
                  </select>
              </div>
              <div class="form-group">
                  <select>
                      <option>Service Type</option>
                      <option>Service Type</option>
                      <option>Service Type</option>
                      <option>Service Type</option>
                  </select>
              </div>
              <div class="form-group">
                  <select>
                      <option>Service Type</option>
                      <option>Service Type</option>
                      <option>Service Type</option>
                      <option>Service Type</option>
                  </select>
              </div>
              <div class="form-group">
                  <select>
                      <option>Service Type</option>
                      <option>Service Type</option>
                      <option>Service Type</option>
                      <option>Service Type</option>
                  </select>
              </div>
              <div class="form-comment">
                  <textarea class="form-control" placeholder="Anything we should know about your pet?" required=""></textarea>
              </div>
              <button class="btn btn-default">Get An Appoinment</button>
          </form>
      </div>
  </div><!-- Container /- -->
</div>