<div class="services container-fluid">
  <!-- Container -->
  <div class="container">
      <!-- Section Header -->
      <div class="section-header">
          <h3>Services we Offer</h3>
          <p>In a freak mishap ranger and its pilot captain william buck rogers are blown</p>
      </div><!-- Section Header /- -->
      <div class="service-tab">
          <div id="tab-nav">
              <ul class="nav-tabs grid tabs" role="tablist">
                  <li role="presentation" *ngFor="let tab of tabs" [class.active]="tab === selectedTab" (click)="onSelect(tab)" (mousedown)="Enter($event)">
                      <a data-toggle="tab" role="tab" aria-controls="tab-one" aria-expanded="true"  ><i>
                          <img src="/assets/images/icon/{{tab.image}}" alt="care"></i>{{tab.title}}</a>
                  </li>
                  <!-- <li class="" role="presentation">
                      <a data-toggle="tab" role="tab" aria-controls="tab-two" href="#tab-two" aria-expanded="false"><i><img src="/assets/images/icon/camp.png" alt="care"></i>{{title}}</a>
                  </li>
                  <li class="" role="presentation">
                      <a data-toggle="tab" role="tab" aria-controls="tab-three" href="#tab-three" aria-expanded="false"><i><img src="/assets/images/icon/nutrition.png" alt="nutrition"></i>{{title}}</a>
                  </li>
                  <li class="" role="presentation">
                      <a data-toggle="tab" role="tab" aria-controls="tab-four" href="#tab-four" aria-expanded="false"><i><img src="/assets/images/icon/insurance.png" alt="insurance"></i>{{title}}</a>
                  </li> -->
              </ul>
          </div>
          <div id = tab class="tab-content">
              <app-tab-content [tab] = "selectedTab"></app-tab-content>
              <!-- <div id="tab" class="tab-pane active" role="tabpanel" *ngIf="selectedTab">
                <div class="tab-box">
                      <p>{{selectedTab.pNum1}}</p>
                      <p>{{selectedTab.pNum2}}</p>
                  </div>
              </div> -->
              <!-- <div id="tab-two" class="tab-pane" role="tabpanel">
                  <div class="tab-box">
                      <p>2 Trajectory into an orbit which freezes his life support systems and returns Buck Rogers to Earth five-hundred years later. We're gonna do it. On your mark get set and go now. Got a dream and we just know now we're gonna make our dream come true. Space. The final frontier. These are the voyages of the Starship Enterprise.</p>
                      <p>Now were up in the big leagues getting' our turn at bat? No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be! Boy the way Glen Miller played. Songs that made the hit parade guys like us.</p>
                  </div>
              </div>
              <div id="tab-three" class="tab-pane" role="tabpanel">
                  <div class="tab-box">
                      <p>3 Trajectory into an orbit which freezes his life support systems and returns Buck Rogers to Earth five-hundred years later. We're gonna do it. On your mark get set and go now. Got a dream and we just know now we're gonna make our dream come true. Space. The final frontier. These are the voyages of the Starship Enterprise.</p>
                      <p>Now were up in the big leagues getting' our turn at bat? No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be! Boy the way Glen Miller played. Songs that made the hit parade guys like us.</p>
                  </div>	
              </div>
              <div id="tab-four" class="tab-pane" role="tabpanel">
                  <div class="tab-box">
                      <p>4 Trajectory into an orbit which freezes his life support systems and returns Buck Rogers to Earth five-hundred years later. We're gonna do it. On your mark get set and go now. Got a dream and we just know now we're gonna make our dream come true. Space. The final frontier. These are the voyages of the Starship Enterprise.</p>
                      <p>Now were up in the big leagues getting' our turn at bat? No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be! Boy the way Glen Miller played. Songs that made the hit parade guys like us.</p>
                  </div>	
              </div> -->
          </div>
      </div>
  </div><!-- Container /- -->
</div><!-- Services /- -->