<div class="pricing container-fluid no-padding animated slideInUp">
    <!-- section-header -->
    <div class="section-header">
      <h3>Packages We Provide</h3>
      <p>In a freak mishap ranger and its pilot captain william buck rogers are blown</p>
    </div><!-- section-header /- -->
    <!-- Container -->
    <div class="container grid">
      <div class="grid-div">
        <div class="price-table">
          <h5>Basic</h5>
          <div class="price-box">
            <h3><sup>$</sup>100<sub>/mo</sub></h3>
            <ul>
              <li>Pet Food</li>
              <li>Nutrition guide</li>
              <li>Leather Harness</li>
              <li>Pet Toys</li>
              <li>Shopping Coupon</li>
            </ul>
            <a class="btn btn-default" href="#" role="button">Purchase</a>
          </div>
        </div>
      </div>
      <div class="grid-div">
        <div class="price-table price-color-1">
          <h5>Standard</h5>
          <div class="price-box">
            <h3><sup>$</sup>200<sub>/mo</sub></h3>
            <ul>
              <li>Pet Food</li>
              <li>Health Checkup</li>
              <li>Pet Out Fit</li>
              <li>Pet Toys</li>
              <li>Shopping Discount</li>
            </ul>
            <a class="btn btn-default" href="#" role="button">Purchase</a>
          </div>
        </div>
      </div>
      <div class="grid-div">
        <div class="price-table price-color-2">
          <h5>Premium</h5>
          <div class="price-box">
            <h3><sup>$</sup>300<sub>/mo</sub></h3>
            <ul>
              <li>Pet Food</li>
              <li>Health Checkup</li>
              <li>Pet Grooming</li>
              <li>Pet Toys</li>
              <li>Free Gifts</li>
            </ul>
            <a class="btn btn-default" href="#" role="button">Purchase</a>
          </div>
        </div>
      </div>
    </div><!-- Container /- -->
  </div>