/* You can add global styles to this file, and also import other style files */
@import "smart-grid";

body{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
}
a {
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
}
.container{
    @include wrapper();
} 
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}


